#etapes, #listeReponses, main, #stats {
    margin-top: 2em;
}
h4 {
    padding-left: 2em;
}
ul, h5, #reponses {
    padding: 0;
    text-align: center;
}
li {
    list-style-type: none;
    text-align: center;
}
.formChangementRole > form > div {
    margin-bottom: 2em;
}
#statistiques, #statistiques > li {
    text-align: left;
}
#statistiques {
    padding-left: 1.5em;
}
#statistiques > li {
    margin-bottom: 1em;
}