{% extends "/Concepteur/templateConcepteur.php.twig" %}
{% block styles %}
<link rel="stylesheet" href="{{ asset('Concepteur/CSS/accueil.css') }}">
{% endblock %}
{% block main %}

<main class="listeAventure">
     {% for adventure in nomAventures %}
    <div class="blocAventure">
        <div>
            <h4>{{ adventure }}</h4>
            <p>{{ textAventure[loop.index - 1] }}</p>
        </div>
        <div>
            <a class="btn btn-primary" href="/concepteur/editAventure?aventure={{ adventure }}&send=0" alt="EditAventure">Modifier</a>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}
