{% extends "/Concepteur/templateConcepteur.php.twig" %}
{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('Concepteur/CSS/creationEtape.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block main %}
<main class="bodyCreaEtape">
    <h2>Edition des étapes</h2>

    <section class ="bloc">
        <h3>Créer une étape</h3>

        {% if error != null %}
            <p class="alert alert-danger"> {{ error }}</p>
        {% endif %}

        {{ form_start(form)}}
            {{ form_label(form.nometape, "Nom de l'étape") }}

            {{ form_widget(form.nometape, { 'attr': {'placeholder':"Intitulé de l'étape", 'class':'form-control'}}) }}


        <p class="legende_map">Cliquez sur la carte puis sur le marqueur pour connaître les coordonnées du QR-Code :</p>
            <div id="map" style="height: 30vh;">
            </div>

            <div class="coord_pos">
                <div>
                    {{ form_label(form.posxqrcode, "Position X du QR code") }}

                    {{ form_widget(form.posxqrcode, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div>
                    {{ form_label(form.posyqrcode, "Position Y du QR code") }}

                    {{ form_widget(form.posyqrcode, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            {{ form_label(form.nomaventure, "Nom de l'aventure") }}

            {{ form_widget(form.nomaventure, {'attr': {'class': 'form-control'}})}}

            <label for="question">Question associée à l'étape</label>

            <select name="question" id="question" class="form-control">
            <option value="">--Veuillez choisir une question--</option>
            {% for question in listeQuestion %}
                <option value="{{ listeQuestionId[loop.index - 1] }}"> {{ question }} </option>
            {% endfor %}
            </select>


            <label for="film">Film associé à l'étape</label>

            <select name="film" class="form-control">
            <option value="">--Veuillez choisir un film--</option>
            {% for film in listeFilm %}
                <option value="{{ listeFilmId[loop.index - 1] }}"> {{ film }} </option>
            {% endfor %}
            </select>


            <div class="activer_etape">
                {{ form_label(form.etatetape, "Activer l'étape ?") }}
                {{ form_widget(form.etatetape)}}
            </div>
            {{ form_rest(form) }}

            <button class="btn btn-primary bouton_important" type="submit">Créer l'étape</button>
        {{ form_end(form) }}
        </section>


    <h3>Modifier une étape</h3>

    {% if errorModif != null %}
        <p class="alert alert-danger">{{ errorModif }}</p>
    {% endif %}

    <section class ="bloc">
    <form method="POST" action="modif_etape">
        <select name="selectE" id="" class="form-control">
            <option value="">--Veuillez choisir une étape--</option>
            {% for etape in listeEtape %}
                <option value="{{ listeId[loop.index - 1] }}"> {{ etape }} </option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary bouton_important" value="Confirmer">
    </form>


    <section class="selection_question">

        <form method="POST" action="modif_etape">
            <input type="text" class="form-control" name="id" value="{{ id }}" hidden>
            <label for = "newquestion">Modifier le texte de l'énigme</label>

            <textarea class="form-control" rows="4" id="newetape" name="nometape">{{ nometape }}</textarea>


            <label>Modifier les coordonnées :</label>
            <div id="map2" style="height: 30vh;">
            </div>
            <div class="coord_pos">
                <div>
                    <label for="x">La nouvelle coordonnée x de l'étape</label>

                    <input id ="x" type="number" class="form-control" name="cox" value="{{ cox }}">
                </div>
                <div>
                    <label for="y">La nouvelle coordonnée y de l'étape</label>

                    <input id ="y" type="number" class="form-control" name="coy" value="{{ coy }}">
                </div>
            </div>

            <div class="activer_etape">
                <label>Activer l'étape ?</label>
                {% if checked == 0 %}
                    <input type="checkbox" class="form-check-input" name="checked">
                {% else %}
                    <input type="checkbox" class="form-check-input" name="checked" checked="checked">
                {% endif %}
            </div>


            <label>Modifier l'aventure</label>

            <select name="modifE" class="form-control">
                <option value="">--Veuillez choisir une aventure--</option>
                {% for aventure in listeNomAventure %}
                    {% if selected ==  aventure %}
                        <option value="{{ aventure }}" selected="selected"> {{ aventure }} </option>
                    {% else %}
                        <option value="{{ aventure }}"> {{ aventure }} </option>
                    {% endif %}
                {% endfor %}
            </select>


            <label>Modifier la question</label>

            <select name="question" class="form-control">
                <option value="">--Veuillez choisir une question--</option>
                {% for question in listeQuestion %}
                    {% if selectedQ == question %}
                        <option value="{{ listeQuestionId[loop.index - 1] }}" selected="selected"> {{ question }} </option>
                    {% else %}
                        <option value="{{ listeQuestionId[loop.index - 1] }}"> {{ question }} </option>
                        aventure = {{question}}, selectedQ= {{ selectedQ }}
                    {% endif %}
                {% endfor %}
            </select>


            <label>Modifier le film</label>

            <select name="film" class="form-control">
                <option value="">--Veuillez choisir un film--</option>
                {% for film in listeFilm %}
                    {% if selectedF ==  film %}
                        <option value="{{ listeFilmId[loop.index - 1] }}" selected="selected"> {{ film }} </option>
                    {% else %}
                        <option value="{{ listeFilmId[loop.index - 1] }}"> {{ film }} </option>
                    {% endif %}
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-primary bouton_important" name="btn-modif">Modifier</button>
        </form>
    </section>
</section>


    <h3>Supprimer une étape</h3>

    <section class="bloc">
    <form method="POST" action="delete_etape" onsubmit="return confirm('Voulez-vous vraiment supprimer cette étape?')">
        <select name="deleteEtape" id="" class="form-control">
            <option value="">--Veuillez choisir une étape--</option>
            {% for etape in listeEtape %}
                <option value="{{ listeId[loop.index - 1] }}"> {{ etape }} </option>
            {% endfor %}
        </select>


        <button class="btn btn-danger bouton_important" type="submit">Supprimer</button>
    </form>
    </section>

    <h3>Récupérer un QR-Code</h3>

    <section class="bloc">
    <form method="GET" action="generateQRCode">
        <select name="id" id="" class="form-control">
            <option value="default">--Veuillez choisir une étape--</option>
            {% for etape in listeEtape %}
                <option value="{{ listeId[loop.index - 1] }}"> {{ etape }} </option>
            {% endfor %}
        </select>


        <button class="btn btn-primary bouton_important" type="submit">Générer</button>
    </form>
    </section>
</main>
    <script>
        var map = L.map('map').setView([47.843318234240336, 1.926697567577604], 19);
        var map2 = L.map('map2').setView([47.843318234240336, 1.926697567577604], 19);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxNativeZoom: 19,
            maxZoom: 22
        }).addTo(map);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxNativeZoom: 19,
            maxZoom: 22
        }).addTo(map2);

        if (document.getElementById("newetape").value != "") {
            marker = L.marker([document.getElementById("x").value, document.getElementById("y").value ]).addTo(map2)
                .bindPopup(document.getElementById("newetape").value);
        }

        map.on('click', addMarker);
        map2.on('click', addMarker2);

        newMarkerGroup = new L.LayerGroup();
        cpt = 0;

        function addMarker(e){
            // Add marker to map at click location; remove the old marker
            if (cpt != 0) {
                map.removeLayer(marker);
            }
            marker = new L.marker(e.latlng).addTo(map).bindPopup('x=' + e.latlng.lat + ", y=" + e.latlng.lng);
            cpt += 1;
            document.getElementById("etape_posxqrcode").value = e.latlng.lat;
            document.getElementById("etape_posyqrcode").value = e.latlng.lng;
        }

    function addMarker2(e){
        // Add marker to map at click location; remove the old marker
        map2.removeLayer(marker);
        marker = new L.marker(e.latlng).addTo(map2).bindPopup('x=' + e.latlng.lat + ", y=" + e.latlng.lng);
        document.getElementById("x").value = e.latlng.lat;
        document.getElementById("y").value = e.latlng.lng;
    }

</script>
{% endblock %}
