{% extends "/Concepteur/templateConcepteur.php.twig" %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('Concepteur/CSS/creationQuestion.css') }}"/>
{% endblock %}
{% block main %}
<main>
    <h2>Edition des Questions</h2>
    <section class ="bloc">
        <h3>Créer une question</h3>
        {{ form_start(form)}}
            <label>Intitulé de la question</label>
            {{ form_widget(form.textequestion, { 'attr': {'placeholder':"Intitulé", 'class': 'form-control'}}) }}

            {% if error != null %}
                <p class="alert alert-danger"> {{ error }}</p>
            {% endif %}

            <label for="lareponse">Réponse à la question </label>
            <input type="text" class="form-control" id="lareponse" name="lareponse">

            <label>Points accordés à cette question</label>
            {{ form_widget(form.pointsquestion, { 'attr': {'class': 'form-control'}}) }}
            {{ form_rest(form) }}
            <value class="etat">{{ etatCrea }}</value>
            <button class="btn btn-primary bouton_important" type="submit">Créer la question</button>
        {{ form_end(form) }}
    </section>

    <hr>

    <section class ="bloc">
        <h3>Modifier une question</h3>
        <form method="POST" action="modif_question">
            {% if error2 != null %}
                <p class='alert alert-danger'>{{ error2 }}</p>
            {% endif %}
            <label for="modifQ">Choisir la question à modifier</label>
            <select name="modifQ" class="form-control" id="">
                <option value="">--Veuillez choisir une question--</option>
                {% for question in nomQuestion %}
                    <option value="{{ question }}"> {{ question }} </option>
                {% endfor %}
            </select>
            <button class="btn btn-primary bouton_important" type="submit" name="modifButton">Appliquer</button>
        </form>


        <section class="selection_question">

            <form method="POST" action="modif_question?textequestion={{ textequestion }}">
                <label for = "newquestion">Modifier la question</label>
                <input type="text" class="form-control" id="newquestion" name="textequestion" value="{{ textequestion }}">

                <label>Modifier la réponse</label>
                <input type="text" class="form-control" name="reponsequestion" value="{{ lareponse }}">

                <label>Modifier le nombre de points</label>
                <input type="number" class="form-control" name="pointsquestion" value="{{ pointsquestion }}">
                <button class="btn btn-primary bouton_important" type="submit" name="btn-modif">Modifier</button>
            </form>
        </section>
    </section>

    <hr>

    <h3>Supprimer une question</h3>
    <section class ="bloc">
        <form method="POST" action="modif_question">
            <label>Choisir la question à supprimer</label>
            <select name="supprQ" class="form-control" id="">
                <option value="">--Veuillez choisir une question--</option>
                {% for question in nomQuestion %}
                    <option value="{{ question }}"> {{ question }} </option>
                {% endfor %}
            </select>
            {% if etat != null %}
                <p class="alert alert-danger">{{ etat }}</p>
            {% endif %}
            {% if error3 != null %}
                <p class="alert alert-danger">{{ error3 }}</p>
            {% endif %}
            <button class="btn btn-danger bouton_important" type="submit">Supprimer la question</button>
        </form>
    </section>
</main>
{% endblock %}
