{% extends "/Concepteur/templateConcepteur.php.twig" %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('Concepteur/CSS/creationQuestion.css') }}">
{% endblock %}
{% block main %}
<main class="corpsCreaQuestion">
    <h2>Nouvelle Aventure</h2>
    <form class="nouvelle_aventure" action="creation_aventure?send=1" method="POST">
        {% if erreur != null %}
            <p class="alert alert-danger">{{ erreur }}</p>
        {% endif %}

        <input type="text" class="form-control" name="nom" placeholder="Nom aventure"/>
        <textarea type="text" class="form-control" name="texte" placeholder="Texte aventure" rows="6"></textarea>

        <input class="btn btn-primary bouton_important" type="submit" value="Créer l'aventure"/>

    </form>
</main>
{% endblock %}