{% extends "/Concepteur/templateConcepteur.php.twig" %}
{% block styles %}
  <link rel="stylesheet" href="{{ asset('Concepteur/CSS/creationEtape.css') }}">
{% endblock %}
{% block main %}
<main>
    <a class="btn btn-dark" href="creation_etape">Retour</a><br>
    <input id="text" type="text" value="{{ id }}" style="width:80%" hidden/>
    <div class="bouton_generation">
        <button class="btn btn-primary" type="button" name="button" onclick="makeCode()">Générer le QRCode</button>
        <button class="btn btn-primary" type="button" name="button" onclick="makeCode(), save()">Télécharger le QRCode</button>
    </div>
    <div id="qrcode"></div>
</main>

  <script src="{{ asset('Concepteur/JS/qrcode.min.js') }}">  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    var qrcode = new QRCode("qrcode");

    function makeCode () {
      var elText = document.getElementById("text");

      if (!elText.value) {
        alert("Input a text");
        elText.focus();
        return;
      }

      qrcode.makeCode(elText.value);  
    }

    function save(){
      var image = document.getElementById("img");
      var src = $('img').prop('src');
      console.log($('img').prop('src'));
      var link = document.createElement("a");

      document.body.appendChild(link); // for Firefox

      link.setAttribute("href", src);
      link.setAttribute("download", "QRCode.jpg");
      link.click();
    }
  </script>
{% endblock %}
