{% extends "/Concepteur/templateConcepteur.php.twig" %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('Concepteur/CSS/film.css') }}">
{% endblock %}
{% block main %}
<main>
    <h2>Edition des Films</h2>
    <h3>Nouveau film</h3>
    <p class="alert alert-danger">La taille maximale du fichier doit être de 100Mo.</p>

    {% if erreur is not null %}
        <p class="alert alert-danger">{{ erreur }}</p>
    {% endif %}
    {{ form_start(form) }}
    <div class="custom-file">
        {{ form_label(form.film, "Film (Fichier MP4)", { 'label_attr': {'class': 'custom-file-label'}} ) }}
        {{ form_widget(form.film, { 'attr': {'class': 'custom-file-input', 'lang':'fr'}}) }}
    </div>
        <input class="btn btn-primary bouton_important" type="submit" value="Ajouter">
    {{ form_end(form) }}

    <h3>Liste des Films existants</h3>
    <section id="ulListeFilm">
        {% for film in films %}
        <div class="bloc">
            <video controls><source src="/upload/{{ film }}" type="video/mp4"></video>
            <div>
                <h3>{{ film }}</h3>
                <a href="deleteFilm?film={{ film }}" class="btn btn-danger" data-confirm="Voulez-vous vraiment supprimer ce Film?">Supprimer</a>
            </div>
        </div>
        {% endfor %}
    </section>
</main>

<script src="{{ asset('Concepteur/JS/confirmDelete.js') }}"></script>
{% endblock %}

