<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=0.9">
    <title>{{titre}}</title>
    <link rel="icon" type="image/ico" href="favicon.ico">
    {% block styles %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('icons/faticon.ico') }}">
    <link rel="stylesheet" href="{{ asset('CSS/index.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}

</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark loginHeader">
            <div class="navbar-collapse collapse width-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="switch" href="{{ path('home') }}">Mode Joueur</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                    <h1 class="TitrePage"><a href="{{ path('page_acceuil_concepteur')}}">{{ titre }}</a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse width-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if app.user %}
                        <div>
                            <h3>{{ app.user.username }}</h3> <a class="switch btn-danger" href="{{ path('app_logout') }}">D&#xE9;connexion</a>
                        </div>
                    {% else %}
                        <div>
                            <a href="/login">Connexion</a>
                            <a href="/register">Inscription</a>
                        </div>
                    {% endif %}
                    </li>   
                </ul>
            </div>
        </nav>
</header>
{% block main %}
{% endblock %}
    <footer>
        <ul id="ulFooter">
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/concepteur/accueil" %}
                <li class="liactive">
            {% else %}
                <li class="liFooter">
            {% endif %}
                <a href="{{ path('page_acceuil_concepteur')}}" alt="Accueil"><img class="logoNav" src="/content/accueil.png" alt="Accueil"/></a>
            </li>
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/concepteur/creation_question" %}
                <li class="liactive">
            {% else %}
                <li class="liFooter">
            {% endif %}
                <a href="{{ path('page_creation_question')}}" alt="creation_question"><img class="logoNav" src="/content/questions-et-reponses.png" alt="creaquestion"/></a>
            </li>
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/concepteur/creation_etape" %}
                <li class="liactive">
            {% else %}
                <li class="liFooter">
            {% endif %}
                <a href="{{ path('page_creation_etape')}}" alt="creation_etape"><img class="logoNav" src="/content/flag.png" alt="creaetape"/></a>
            </li>
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/concepteur/creation_aventure" %}
                <li class="liactive">
            {% else %}
                <li class="liFooter">
            {% endif %}
                <a href="{{ path('page_creation_aventure')}}" alt="creaaventure"><img class="logoNav" src="/content/map.png" alt="creaaventure"/></a>
            </li>
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/concepteur/gestionFilm" %}
                <li class="liactive">
            {% else %}
                <li class="liFooter">
            {% endif %}
                <a href="{{ path('page_gestion_film')}}" alt="creaaventure"><img class="logoNav" src="/content/film.png" alt="film"/></a>
            </li>
        </ul>
    </footer>
</body>
</html>