.blocAventure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}
.blocAventure p {
    margin: 0!important;
}
.div_a_bouton {
    height: auto;
}
.blocAventure:nth-child(2n+1) {
    background-color: rgba(182, 182, 182, 0.29);
}
