input[type=text], input[type=number], button, select, textarea{
    margin-bottom: 1.5em!important;
}
h3 {
    margin-bottom: 0.6em!important;
}
hr {
    width: 40%;
    background-color: dimgray;
    margin: 1em auto;
}