#map, #map2 {
	z-index: 1;
	margin-bottom: 2em;
}
.coord_pos {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
.coord_pos > div {
	text-align: center;
}
label {
	font-size: x-large;
}
input[type=text], input[type=number], button, select{
	margin-bottom: 1.5em!important;
}
.legende_map {
	font-weight: bold;
}
input[type=checkbox] {
	position: relative;
	width: 1.4em;
	height: 1.4em;
	margin-left: 2em;
}
.activer_etape {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}
h3, textarea {
	margin-bottom: 1em!important;
}
.bouton_generation {
	margin: 2em 0;
	display: flex;
	justify-content: space-around;
}
#qrcode > img, #qrcode {
	text-align:center;
	margin: auto;
}