.custom-file {
    margin: 2em 0!important;
}
.custom-file-label::after {
    content: "Parcourir"!important;
}

#ulListeFilm > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2em 0;
    flex-wrap: wrap;
}
#ulListeFilm > div:nth-child(2n+1) {
    background-color: rgba(182, 182, 182, 0.29);
}
#ulListeFilm > div > div {
    margin-left: 4em;
}
#ulListeFilm > div > div > * {
    margin: 1em 0;
}
#ulListeFilm > div > video {
    margin-left: 2em;
}
video {
    width: 40vw;
}