{% extends 'Admin/templateAdmin.php.twig' %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('Admin/CSS/creaEquipe.css') }}">
{% endblock %}
{% block scripts %}
    <script >
        $(document).ready(function() {
            if ({{ cree }}){
                alert("Equipe créée et associée");
            }
            if ({{ erreur }}){
                alert("Le nom d'équipe existe déjà pour le joueur")
            }
        });
    </script>
{% endblock %}
{% block main %}
    <main>
        <h2>Création d'une équipe</h2>
        <div class="formulaire">
            {{form_start(form)}}
            <div>
                {{form_label(form.nomEquipe, "Le nom de l'équipe")}}
                {{form_widget(form.nomEquipe, {'attr': {'class': 'form-control'}})}}
                <small>{{form_help(form.nomEquipe)}}</small>
            </div>
            <div>
                {{form_label(form.personne, "Sélectionner une personne réferente")}}
                {{form_widget(form.personne, {'attr': {'class': 'form-control'}})}}
                <small>{{form_help(form.personne)}}</small>
            </div>
            <div>
                {{form_label(form.membres, "Donner les membres de l'équipe")}}
                {{form_widget(form.membres, {'attr': {'class': 'form-control', 'placeholder': 'Joueur1, Joueur2'}})}}
                <small>{{form_help(form.membres)}}</small>
            </div>
            <div>
                {{form_label(form.aventure, "Sélectionner une aventure")}}
                {{form_widget(form.aventure, {'attr': {'class': 'form-control'}})}}
                <small>{{form_help(form.aventure)}}</small>
            </div>
            {{ form_row(form.save, {'attr': {'class': 'btn btn-primary bouton_important'}}) }}
            {{form_end(form)}}
        </div>
    </main>
{% endblock %}