{% extends "Admin/templateAdmin.php.twig" %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('Admin/CSS/aventure.css') }}">
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            if ({{ update }}){
                alert("Changement du role effectué");
            }
        });
    </script>
{% endblock %}
{% block main %}
    <main>
        <h2>Changement des rôles</h2>
        <div class="formChangementRole">
            {{form_start(form)}}
            <div>
                {{form_label(form.utilisateur, "Sélectionner un utilisateur")}}
                {{form_widget(form.utilisateur, {'attr': {'class': 'form-control'}})}}
                <small>{{form_help(form.utilisateur)}}</small>
            </div>
            <div>
                {{form_label(form.role, "Sélectionner un rôle")}}
                {{form_widget(form.role, {'attr': {'class': 'form-control'}})}}
                <small>{{form_help(form.role)}}</small>
            </div>
            <div>
                {{ form_label(form.valider, 'Valider') }}
                {{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary bouton_important'}}) }}
            </div>
            {{form_end(form)}}
        </div>
    </main>
{% endblock %}