{% extends "Admin/templateAdmin.php.twig" %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('CSS/classement.css') }}">
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#select').on('change', function (e) {
                if (e.target.value != "") {
                    $.ajax({
                        type: 'post',
                        url: "{{ path('page_classement') }}",
                        data: { aventure: e.target.value },
                        success: function (response) {
                            $('table').remove();
                            $('#tab').prepend(response);
                            $(".select").css("border-bottom", "0.1px solid");
                            $(".select").css("padding-bottom", "1em");
                        }
                    })
                }
                else {
                    $('table').remove();
                    $(".select").removeAttr("style");
                }
            });
        });
    </script>
{% endblock %}
{% block main %}
    <main>
        <h2>Classement des équipes par aventure</h2>
        <div class="classement">
            <div class="select">
                <p>Choix de l'aventure :</p>
                <select name="aventures" id="select" class="form-control">
                    <option value=""></option>
                    {% for a in aventures %}
                    <option value="{{ a }}">{{ a }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="tab">

            </div>
        </div>
    </main>
{% endblock %}