<div id="etapes">
    <p>Sélection de l'étape</p>
    <select id="selectEtape" class="form-control">
        <option value=""></option>
        {% for a in etapes %}
            <option value="{{ a.idetape }}">{{ a.nometape }}</option>
        {% endfor %}
    </select>
</div>
<div id="listeReponses">

</div>
<script>
    $(document).ready(function () {
        $('#selectEtape').on('change', function (f) {
            if (f.target.value != "") {
                $.ajax({
                    type: 'post',
                    url: "{{ path('reponses_etapes') }}",
                    data: { etape: f.target.value },
                    success: function (response) {
                        $('#reponses').remove();
                        $('#listeReponses').prepend(response);
                    }
                })
            }
            else {
                $('#reponses').remove();
            }
        });
    });
</script>