{% extends "Admin/templateAdmin.php.twig" %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('Admin/CSS/aventure.css') }}">
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#select').on('change', function (e) {
                if (e.target.value != "") {
                    $.ajax({
                        type: 'post',
                        url: "{{ path('liste_etapes') }}",
                        data: { aventure: e.target.value },
                        success: function (response) {
                            $('#etapes').remove();
                            $('#reponses').remove();
                            $('#selectEtapes').prepend(response);
                        }
                    })
                }
                else {
                    $('#etapes').remove();
                    $('#reponses').remove();
                }
            });
        });
    </script>
{% endblock %}
{% block main %}
<main>
    <h2>Liste des réponses par étape</h2>
    <p>Sélection de l'aventure</p>
    <select name="aventures" id="select" class="form-control">
        <option value=""></option>
        {% for a in aventures %}
            {% for x in a %}
                <option value="{{ x }}">{{ x }}</option>
            {% endfor %}
        {% endfor %}
    </select>
    <div id="selectEtapes">

    </div>
</main>
{% endblock %}