<div id="reponses">
    <h5>Liste des réponses données pour l'étape :</h5>
    {% if rep|length == 0 %}
        <p>Pas de réponse.</p>
    {% else %}
        <ul>
            {% for x in rep  %}
                {% for a in x %}
                    <li>{{ a }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
</div>