<ul id="statistiques">
    <li>Nombre d'équipes ayant participé à cette aventure : {{ nbequipes[0][1] }}</li>
    <li>Nombre d'étapes contenues dans cette aventure : {{ nbetapes[0][1] }}</li>
    <li>Score moyen à l'aventure : {{ moyenne[0][1]|round(2) }} / {{ scoreMax[0][1] }}</li>
</ul>