<table>
    <thead>
        <tr>
            <th colspan="3" class="titre">Classement</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Place</td>
            <td>Nom de l'équipe</td>
            <td>Score</td>
        </tr>
    {% set cpt = 1 %}
    {% for equipe, score in tableau %}
        <tr>
            <td>{{cpt}}</td>
            <td>{{ equipe }}</td>
            <td>{{ score }}</td>
        </tr>
        {% set cpt = cpt+1 %}
    {% endfor %}
    </tbody>
</table>