<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ titre }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('icons/faticon.ico') }}">
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=0.9">
    <link rel="stylesheet" href="{{ asset('CSS/index.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block styles %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark loginHeader">
            <div class="navbar-collapse collapse width-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="switch" href="{{ path('home') }}">Mode Joueur</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                    <h1 class="TitrePage"><a href="{{ path('page_creation_equipe')}}">{{ titre }}</a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse width-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if app.user %}
                        <div>
                            <h3>{{ app.user.username }}</h3> <a class="switch btn-danger"" href="{{ path('app_logout') }}">D&#xE9;connexion</a>
                        </div>
                    {% else %}
                        <div>
                            <a href="/login">Connexion</a>
                            <a href="/register">Inscription</a>
                        </div>
                    {% endif %}
                    </li>   
                </ul>
            </div>
        </nav>



    </header>
    {% block main %}
    {% endblock %}

    <footer>
        <ul id="ulFooter">
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/admin/creation" %}
                <li class="liactive">
            {% else %}
                <li class="liFooter">
            {% endif %}
                <a href="{{ path('page_creation_equipe')}}" alt="Création des joueurs">
                    <img class="logoNav" src="/content/creaPerso.png" alt="Creation Equipe"/>
                </a>
            </li>
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/admin/classement" %}
                <li class="liactive">
            {% else %}
                <li class="liFooter">
            {% endif %}
                <a href="{{ path('page_classement')}}" alt="Classement">
                    <img class="logoNav" src="/content/classement.png" alt="Classement"/>
                </a>
            </li>
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/admin/etapesAventure" %}
                <li class="liactive">
            {% else %}
                <li class="liFooter">
            {% endif %}
                <a href="{{ path('reponses_aventure')}}" alt="Réponses">
                    <img class="logoNav" src="/content/reponses.png" alt="Réponses"/>
                </a>
            </li>

            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/admin/changementsRoles" %}
                <li class="liactive">
            {% else %}
                <li class="liFooter">
            {% endif %}
                <a href="{{ path('page_changements') }}" alt="Changements">
                    <img class="logoNav" src="/content/changement.png" alt="Changements"/>
                </a>
            </li>
            {% if path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) == "/admin/statistiques" %}
                <li class="liactive">
            {% else %}
                <li class="liFooter">
            {% endif %}
                <a href="{{ path('aventure_statistiques')}}" alt="Statistiques">
                    <img class="logoNav" src="/content/stats.png" alt="Statistiques"/>
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>