{% extends "Joueur/templateJoueur.php.twig" %}
{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" href="{{ asset('Joueur/CSS/map.css') }}">
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script type="text/javascript" src="{{ asset('Joueur/JS/iconsColors.js') }}"></script>
{% endblock %}
{% block main %}
    <div id="map">
    </div>
    <script>
        if ({{ OK }}) {
            alert("BRAVO ! Vous pouvez continuer !");
        }
        if ({{ pasJuste }}) {
            document.body.style.background = "#3A86FF";
            alert("Dommage, ce n'était pas la bonne réponse ! Essayez à nouveau !");
        }
        if ({{ fin }}) {
            document.body.style.background = "#3A86FF";
            alert("Félicitations ! Vous avez fini l'aventure " + "{{ nomAventure }}" + " !\nVous pouvez consulter tout l'historique à la page 'aventure'.");
        }

        var map = L.map('map').setView([47.843318234240336, 1.926697567577604], 18);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxNativeZoom: 19,
            maxZoom: 22
        }).addTo(map);
        // posXIUT = 47.843318234240336 | posYIUT = 1.926697567577604
        {% if positions|length > 0 %}
        marker = L.marker([ {{ positions[0].posxqrcode }}, {{ positions[0].posyqrcode }} ]).addTo(map)
            .bindPopup('{{ positions[0].nometape }}');
        {% endif %}
        newMarkerGroup = new L.LayerGroup();

        {% if positions|length > 1 %}
            cpt = 0;
            {% for i in range (1, positions|length - 1) %}
                cpt += 1;
                marker = new L.marker([ {{ positions[i].posxqrcode }}, {{ positions[i].posyqrcode }} ], {icon: lesIcons[cpt % lesIcons.length]}).addTo(map).bindPopup('{{ positions[i].nometape }}');
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}
