<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Explore Game IUT'O</title>
    <link rel="icon" type="image/ico" href="{{ asset('icons/faticon.ico') }}">
    <link rel="stylesheet" href="{{ asset('CSS/index.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/classicForm.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/home.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    
</head>
<body>
<header>
    <div class="loginHeader">
        <h1 class="TitrePage"><a href="/">Connexion</a></h1>
        {% if app.user %}
            <div>
                <p>Tu es actuellement connect&#xE9; en tant que {{ app.user.username }},</p> <a href="{{ path('app_logout') }}">D&#xE9;connecte-toi</a>
            </div>
        {% else %}
            <div>
                <a href="/">Connexion</a>
                <a href="/register">Inscription</a>
            </div>
        {% endif %}
    </div>
</header> <!-- zone de connexion -->
<main>
    {% block main %}

    {% endblock %}
</main>
</body>
</html>
